<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.santoni.iot.aps.infrastructure.database.aps.MachineMapper">

    <resultMap id="result" type="com.santoni.iot.aps.infrastructure.po.MachinePO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="institute_id" jdbcType="BIGINT" property="instituteId"/>
        <result column="factory_id" jdbcType="BIGINT" property="factoryId"/>
        <result column="workshop_id" jdbcType="BIGINT" property="workshopId"/>
        <result column="machine_group_id" jdbcType="BIGINT" property="machineGroupId"/>
        <result column="cylinder_diameter" jdbcType="INTEGER" property="cylinderDiameter"/>
        <result column="needle_spacing" jdbcType="INTEGER" property="needleSpacing"/>
        <result column="needle_number" jdbcType="INTEGER" property="needleNumber"/>
        <result column="machine_type" jdbcType="VARCHAR" property="machineType"/>
        <result column="bare_spandex_type" jdbcType="VARCHAR" property="bareSpandexType"/>
        <result column="high_speed" jdbcType="TINYINT" property="highSpeed"/>
        <result column="features" jdbcType="VARCHAR" typeHandler="com.santoni.iot.aps.infrastructure.database.handler.MachineAttrTypeHandler" property="features"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="creator_id" jdbcType="BIGINT" property="creatorId"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="deleted_at" jdbcType="BIGINT" property="deletedAt"/>
    </resultMap>

    <resultMap id="machineSize" type="com.santoni.iot.aps.infrastructure.po.assistance.SizePO">
        <result column="cylinder_diameter" jdbcType="INTEGER" property="cylinderDiameter"/>
        <result column="needle_spacing" jdbcType="INTEGER" property="needleSpacing"/>
        <result column="needle_number" jdbcType="INTEGER" property="needleNumber"/>
    </resultMap>

    <sql id="tableName">Machine</sql>
    <sql id="insertColumns">
        device_id,
        code,
        institute_id,
        factory_id,
        workshop_id,
        machine_group_id,
        cylinder_diameter,
        needle_spacing,
        needle_number,
        machine_type,
        bare_spandex_type,
        high_speed,
        features,
        status,
        creator_id,
        operator_id
    </sql>

    <sql id="selectColumns">
        id,
        device_id,
        code,
        institute_id,
        factory_id,
        workshop_id,
        machine_group_id,
        cylinder_diameter,
        needle_spacing,
        needle_number,
        machine_type,
        bare_spandex_type,
        high_speed,
        features,
        status,
        create_time,
        modified_time,
        creator_id,
        operator_id,
        deleted_at
    </sql>

    <insert id="insert" parameterType="com.santoni.iot.aps.infrastructure.po.MachinePO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (
            <include refid="insertColumns"/>
        )
        VALUES
        (
            #{po.deviceId},
            #{po.code},
            #{po.instituteId},
            #{po.factoryId},
            #{po.workshopId},
            #{po.machineGroupId},
            #{po.cylinderDiameter},
            #{po.needleSpacing},
            #{po.needleNumber},
            #{po.machineType},
            #{po.bareSpandexType},
            #{po.highSpeed},
            #{po.features,typeHandler=com.santoni.iot.aps.infrastructure.database.handler.MachineAttrTypeHandler},
            #{po.status},
            #{po.creatorId},
            #{po.operatorId}
        )
    </insert>

    <insert id="batchInsert" parameterType="com.santoni.iot.aps.infrastructure.po.MachinePO">
        INSERT INTO
        <include refid="tableName"/>
        (
            <include refid="insertColumns"/>
        )
        VALUES
        <foreach collection="poList" item="po" separator=",">
        (
            #{po.deviceId},
            #{po.code},
            #{po.instituteId},
            #{po.factoryId},
            #{po.workshopId},
            #{po.machineGroupId},
            #{po.cylinderDiameter},
            #{po.needleSpacing},
            #{po.needleNumber},
            #{po.machineType},
            #{po.bareSpandexType},
            #{po.highSpeed},
            #{po.features,typeHandler=com.santoni.iot.aps.infrastructure.database.handler.MachineAttrTypeHandler},
            #{po.status},
            #{po.creatorId},
            #{po.operatorId}
        )
        </foreach>

    </insert>

    <update id="update" parameterType="com.santoni.iot.aps.infrastructure.po.MachinePO">
        UPDATE
            <include refid="tableName"/>
        SET
            factory_id = #{po.factoryId},
            workshop_id = #{po.workshopId},
            machine_group_id = #{po.machineGroupId},
            cylinder_diameter = #{po.cylinderDiameter},
            needle_spacing = #{po.needleSpacing},
            needle_number = #{po.needleNumber},
            machine_type = #{po.machineType},
            bare_spandex_type = #{po.bareSpandexType},
            high_speed = #{po.highSpeed},
            features = #{po.features,typeHandler=com.santoni.iot.aps.infrastructure.database.handler.MachineAttrTypeHandler},
            status = #{po.status}
        WHERE
            id = #{po.id} and deleted_at = 0
    </update>

    <update id="updateStatus">
        UPDATE
            <include refid="tableName"/>
        SET
            status = #{curStatus}
        WHERE
            id = #{id} and status = #{prevStatus} and deleted_at = 0
    </update>

    <select id="getById" resultMap="result">
        SELECT
            <include refid="selectColumns"/>
        FROM
            <include refid="tableName"/>
        WHERE
            id = #{id} and deleted_at = 0
    </select>

    <select id="listById" resultMap="result">
        SELECT
            <include refid="selectColumns"/>
        FROM
            <include refid="tableName"/>
        WHERE
            id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach> and deleted_at = 0
    </select>

    <select id="getByDeviceId" resultMap="result">
        SELECT
            <include refid="selectColumns"/>
        FROM
            <include refid="tableName"/>
        WHERE
            institute_id = #{instituteId} and factory_id = #{factoryId} and device_id = #{deviceId} and deleted_at = 0
    </select>


    <select id="listByOptions" resultMap="result">
        SELECT
            <include refid="selectColumns"/>
        FROM
            <include refid="tableName"/>
        WHERE
            institute_id = #{qo.instituteId} and deleted_at = 0
            <if test="factoryId != null and factoryId > 0">
                and factory_id = #{factoryId}
            </if>
            <if test="qo.sizeList != null and qo.sizeList.size > 0">
                and (cylinder_diameter, needle_spacing) in
                <foreach collection="qo.sizeList" item="size" open="(" separator="," close=")">
                    (#{size.cylinderDiameter}, #{size.needleSpacing})
                </foreach>
            </if>
            <if test="qo.typeList != null and qo.typeList.size > 0">
                and machine_type in
                <foreach collection="qo.typeList" item = "type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <if test="qo.bareSpandexTypeList != null and qo.bareSpandexTypeList.size > 0">
                and bare_spandex_type in
                <foreach collection="qo.bareSpandexTypeList" item = "bareSpandexType" open="(" separator="," close=")">
                    #{bareSpandexType}
                </foreach>
            </if>
            <if test="qo.highSpeed != null">
                and high_speed = #{qo.highSpeed}
            </if>
            <if test="qo.attrList != null and qo.attrList.size > 0">
                <foreach collection="qo.attrList" item = "attr">
                    and
                    <foreach collection="attr.attrValue" item="attrValue" open="(" separator="OR" close=")">
                        JSON_CONTAINS(features->'$.${attr.attrName}', '"${attrValue}"')
                    </foreach>
                </foreach>
            </if>

    </select>

    <select id="searchMachine" resultMap="result">
        SELECT
            <include refid="selectColumns"/>
        FROM
            <include refid="tableName"/>
        WHERE
            institute_id = #{qo.instituteId} and deleted_at = 0
            <if test="qo.factoryIds != null and qo.factoryIds.size > 0">
                and factory_id in
                <foreach collection="qo.factoryIds" item = "factoryId" open="(" separator="," close=")">
                    #{factoryId}
                </foreach>
            </if>
            <if test="qo.workshopIds != null and qo.workshopIds.size > 0">
                and workshop_id in
                <foreach collection="qo.workshopIds" item = "workshopId" open="(" separator="," close=")">
                    #{workshopId}
                </foreach>
            </if>
            <if test="qo.groupIds != null and qo.groupIds.size > 0">
                and machine_group_id in
                <foreach collection="qo.groupIds" item = "groupId" open="(" separator="," close=")">
                    #{groupId}
                </foreach>
            </if>
            <if test="qo.statusList != null and qo.statusList.size > 0">
                and status in
                <foreach collection="qo.statusList" item = "status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="qo.cylinderDiameterList != null and qo.cylinderDiameterList.size > 0">
                and cylinder_diameter in
                <foreach collection="qo.cylinderDiameterList" item="cylinderDiameter" open="(" separator="," close=")">
                    #{cylinderDiameter}
                </foreach>
            </if>
            <if test="qo.needleSpacingList != null and qo.needleSpacingList.size > 0">
                and needle_spacing in
                <foreach collection="qo.needleSpacingList" item="needleSpacing" open="(" separator="," close=")">
                    #{needleSpacing}
                </foreach>
            </if>
            <if test="qo.needleNumberList != null and qo.needleNumberList.size > 0">
                and needle_number in
                <foreach collection="qo.needleNumberList" item="needleNumber" open="(" separator="," close=")">
                    #{needleNumber}
                </foreach>
            </if>
            <if test="qo.typeList != null and qo.typeList.size > 0">
                and machine_type in
                <foreach collection="qo.typeList" item = "type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <if test="qo.bareSpandexTypeList != null and qo.bareSpandexTypeList.size > 0">
                and bare_spandex_type in
                <foreach collection="qo.bareSpandexTypeList" item = "bareSpandexType" open="(" separator="," close=")">
                    #{bareSpandexType}
                </foreach>
            </if>
            <if test="qo.highSpeed != null">
                and high_speed = #{qo.highSpeed}
            </if>
            <if test="qo.attrList != null and qo.attrList.size > 0">
                <foreach collection="qo.attrList" item = "attr">
                    and
                    <foreach collection="attr.attrValue" item="attrValue" open="(" separator="OR" close=")">
                        JSON_CONTAINS(features->'$.${attr.attrName}', '"${attrValue}"')
                    </foreach>
                </foreach>
            </if>
    </select>

    <select id="searchMachineByFactory" resultMap="result">
        SELECT
            <include refid="selectColumns"/>
        FROM
            <include refid="tableName"/>
        WHERE
            institute_id = #{qo.instituteId} and factory_id = #{factoryId} and deleted_at = 0
            <if test="qo.workshopIds != null and qo.workshopIds.size > 0">
                and workshop_id in
                <foreach collection="qo.workshopIds" item = "workshopId" open="(" separator="," close=")">
                    #{workshopId}
                </foreach>
            </if>
            <if test="qo.groupIds != null and qo.groupIds.size > 0">
                and machine_group_id in
                <foreach collection="qo.groupIds" item = "groupId" open="(" separator="," close=")">
                    #{groupId}
                </foreach>
            </if>
            <if test="qo.statusList != null and qo.statusList.size > 0">
                and status in
                <foreach collection="qo.statusList" item = "status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="qo.cylinderDiameterList != null and qo.cylinderDiameterList.size > 0">
                and cylinder_diameter in
                <foreach collection="qo.cylinderDiameterList" item="cylinderDiameter" open="(" separator="," close=")">
                    #{cylinderDiameter}
                </foreach>
            </if>
            <if test="qo.needleSpacingList != null and qo.needleSpacingList.size > 0">
                and needle_spacing in
                <foreach collection="qo.needleSpacingList" item="needleSpacing" open="(" separator="," close=")">
                    #{needleSpacing}
                </foreach>
            </if>
            <if test="qo.needleNumberList != null and qo.needleNumberList.size > 0">
                and needle_number in
                <foreach collection="qo.needleNumberList" item="needleNumber" open="(" separator="," close=")">
                    #{needleNumber}
                </foreach>
            </if>
            <if test="qo.typeList != null and qo.typeList.size > 0">
                and machine_type in
                <foreach collection="qo.typeList" item = "type" open="(" separator="," close=")">
                    #{type}
                </foreach>
            </if>
            <if test="qo.bareSpandexTypeList != null and qo.bareSpandexTypeList.size > 0">
                and bare_spandex_type in
                <foreach collection="qo.bareSpandexTypeList" item = "bareSpandexType" open="(" separator="," close=")">
                    #{bareSpandexType}
                </foreach>
            </if>
            <if test="qo.highSpeed != null">
                and high_speed = #{qo.highSpeed}
            </if>
            <if test="qo.attrList != null and qo.attrList.size > 0">
                <foreach collection="qo.attrList" item = "attr">
                    and
                    <foreach collection="attr.attrValue" item="attrValue" open="(" separator="OR" close=")">
                        JSON_CONTAINS(features->'$.${attr.attrName}', '"${attrValue}"')
                    </foreach>
                </foreach>
            </if>
    </select>

    <select id="getAllMachineType" resultType="java.lang.String">
        SELECT distinct machine_type
        FROM
            <include refid="tableName"/>
        WHERE
            institute_id = #{instituteId} and deleted_at = 0
    </select>

    <select id="getAllBareSpandexType" resultType="java.lang.String">
        SELECT distinct bare_spandex_type
        FROM
            <include refid="tableName"/>
        WHERE
            institute_id = #{instituteId} and deleted_at = 0
    </select>

    <select id="getAllSize" resultMap="machineSize">
        SELECT distinct
            cylinder_diameter,
            needle_spacing,
            needle_number
        FROM
            <include refid="tableName"/>
        WHERE
            institute_id = #{instituteId} and deleted_at = 0
    </select>

    <select id="listByInstituteId" resultMap="result">
        SELECT
            <include refid="selectColumns"/>
        FROM
            <include refid="tableName"/>
        WHERE
            institute_id = #{instituteId} and deleted_at = 0
    </select>

    <select id="listByFactoryId" resultMap="result">
        SELECT
            <include refid="selectColumns"/>
        FROM
            <include refid="tableName"/>
        WHERE
            factory_id = #{factoryId} and deleted_at = 0
    </select>

</mapper>