<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.santoni.iot.aps.infrastructure.database.aps.ProduceOrderDemandMapper">

    <resultMap id="result" type="com.santoni.iot.aps.infrastructure.po.ProduceOrderDemandPO">
        <result column="id" jdbcType="BIGINT" property="id"/>
        <result column="produce_order_id" jdbcType="BIGINT" property="produceOrderId"/>
        <result column="style_code" jdbcType="VARCHAR" property="styleCode"/>
        <result column="sku_code" jdbcType="VARCHAR" property="skuCode"/>
        <result column="size_id" jdbcType="VARCHAR" property="sizeId"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="symbol_id" jdbcType="VARCHAR" property="symbolId"/>
        <result column="symbol" jdbcType="VARCHAR" property="symbol"/>
        <result column="color_id" jdbcType="VARCHAR" property="colorId"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
        <result column="order_quantity" jdbcType="INTEGER" property="orderQuantity"/>
        <result column="weave_quantity" jdbcType="INTEGER" property="weaveQuantity"/>
        <result column="sample_quantity" jdbcType="INTEGER" property="sampleQuantity"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime"/>
        <result column="deleted_at" jdbcType="BIGINT" property="deletedAt"/>
    </resultMap>

    <sql id="tableName">Produce_Order_Demand</sql>
    <sql id="insertColumns">
        produce_order_id,
        style_code,
        sku_code,
        size_id,
        size,
        symbol_id,
        symbol,
        color_id,
        color,
        order_quantity,
        weave_quantity,
        sample_quantity
    </sql>

    <sql id="selectColumns">
        id,
        produce_order_id,
        style_code,
        sku_code,
        size_id,
        size,
        symbol_id,
        symbol,
        color_id,
        color,
        order_quantity,
        weave_quantity,
        sample_quantity,
        create_time,
        modified_time,
        deleted_at
    </sql>

    <insert id="insert" parameterType="com.santoni.iot.aps.infrastructure.po.ProduceOrderDemandPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (
            <include refid="insertColumns"/>
        )
        VALUES
        (
            #{po.produceOrderId},
            #{po.styleCode},
            #{po.skuCode},
            #{po.sizeId},
            #{po.size},
            #{po.symbolId},
            #{po.symbol},
            #{po.colorId},
            #{po.color},
            #{po.orderQuantity},
            #{po.weaveQuantity},
            #{po.sampleQuantity}
        )
    </insert>

    <insert id="batchInsert" parameterType="com.santoni.iot.aps.infrastructure.po.ProduceOrderDemandPO">
        INSERT INTO
        <include refid="tableName"/>
        (
            <include refid="insertColumns"/>
        )
        VALUES
        <foreach collection="poList" item="po" separator=",">
            (
                #{po.produceOrderId},
                #{po.styleCode},
                #{po.skuCode},
                #{po.sizeId},
                #{po.size},
                #{po.symbolId},
                #{po.symbol},
                #{po.colorId},
                #{po.color},
                #{po.orderQuantity},
                #{po.weaveQuantity},
                #{po.sampleQuantity}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.santoni.iot.aps.infrastructure.po.ProduceOrderDemandPO">
        UPDATE
        <include refid="tableName"/>
        SET
            order_quantity = #{po.orderQuantity},
            weave_quantity = #{po.weaveQuantity},
            sample_quantity = #{po.sampleQuantity}
        WHERE
            id = #{po.id} and deleted_at = 0
    </update>

    <update id="batchUpdate" parameterType="com.santoni.iot.aps.infrastructure.po.ProduceOrderDemandPO">
        <foreach collection="poList" item="po" separator=";">
            UPDATE
            <include refid="tableName"/>
            SET
                order_quantity = #{po.orderQuantity},
                weave_quantity = #{po.weaveQuantity},
                sample_quantity = #{po.sampleQuantity}
            WHERE
                id = #{po.id} and deleted_at = 0
        </foreach>

    </update>

    <update id="batchDelete" parameterType="com.santoni.iot.aps.infrastructure.po.ProduceOrderDemandPO">
        <foreach collection="codeList" item="code" separator=";">
            UPDATE
            <include refid="tableName"/>
            SET
                deleted_at = unix_timestamp(now())
            WHERE
                id in
                <foreach collection="poList" item="po" open="(" separator="," close=")">
                    #{po.id}
                </foreach> and deleted_at = 0
        </foreach>
    </update>

    <select id="listByProduceOrderId" resultMap="result">
        SELECT
        <include refid="selectColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE
            produce_order_id = #{produceOrderId} and deleted_at = 0
    </select>

    <select id="getByStyleCodeAndOrder" resultMap="result">
        SELECT
        <include refid="selectColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE
            produce_order_id = #{produceOrderId} and style_code = #{styleCode} and deleted_at = 0
    </select>

    <select id="listByProduceOrderIds" resultMap="result">
        SELECT
        <include refid="selectColumns"/>
        FROM
        <include refid="tableName"/>
        WHERE
            produce_order_id in
            <foreach collection="produceOrderIds" item="produceOrderId" open="(" separator="," close=")">
                #{produceOrderId}
            </foreach> and deleted_at = 0
    </select>

</mapper>